*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
    /* object-fit: cover; */
}



.box{
    width: 100vw;
    height: 100vh;
    /* background-image: url("background.png"); */
    /* filter: blur(5px); */
    position: relative;
}
.logo_img{
    height: 80vh;
    position: absolute;
    z-index: -1;
}
.logo_word{
    position: absolute;
    top: 25%;
    left: 62%;
    font-size: 50px;
    z-index: 2;
}
.logo_word1{
    position: absolute;
    top: 40%;
    left: 65%;
    font-size: 30px;
    z-index: 2;
}

/* .discover1{
    position: absolute;
    top: 55%;
    width: 300px;
    height: 60px;
    left: 70%;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}
.discover1word:hover{
    color: rgb(170, 157, 157);
    cursor: pointer;
    transition: 0.5s;
    
} */

.Menu{
    position: absolute;
    left: 2%;
    top: 5%;
    font-size: 30px;
    /* border: 1px solid black; */
    height: 120px;
    z-index: 1;
    width: 200px;
}


ul li a {
    text-decoration: none;
    color: black;
    
}
ul li {
    list-style: none;
    margin-bottom: 55px;
}
.Menu:hover{
    cursor: pointer;
    
}


.Menu:hover .logo_img{
    filter: blur(5px);
    transition: ease 0.5s;
}
.Menu ul li:hover{
    opacity: 0.5;
    transition: ease 0.5s;
}






.boxMenu{
    width: 500px;
    height: 700px;
    position: absolute;
    top: 2%;
    /* background-color: pink; */
}
.block{
    width: 600px;
    height: 600px;
    /* background-color: pink; */
    z-index: 10;
    position: absolute;
    top: 15%;
    left: 15%;
}
.discover1{
    position: relative;
    /* padding-top: 15px; */
    z-index: 2;
}
.logo_img{
    z-index: 1;
    width: 100%;
    box-shadow: inset ;
}

.menu{
    border: none;
    font-size: 30px;
    height: 50px;
    width: 200px;
    background-color: transparent;
}
.menu:hover{
    cursor: pointer;
}

.hidden_menu{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 3px solid black;
    width: 400px;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: white;
    position: relative;
}

.footer-img-box{
    position: absolute;
    left: 50%;  
    width: 200px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.footer-img{
    width: 50px;
}












/* PROFILE  */


.profile-box{
    position: absolute;
    z-index: 5;
    left: 90%;
    top: 5%;
}

.profile{
    width: 50px;
}
.profile-detail{
    position: relative;
}
#user{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#user:hover{
    cursor: pointer;
}

.log-out{
    position: absolute;
    left: 90%;
    top: 15%;
    height: 30px;
    text-align: center;
    z-index: 999;
    display: none;
}
.log-out-p{
    background-color: transparent;
    border: none;
    font-size: 20px;
}
.log-out-p:hover{
    cursor: pointer;
}
.log-out{
    cursor: pointer;
}
/* LOADING  */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    background-color: #303030;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loading{
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: loading 2s linear infinite;
}


@keyframes loading {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
}





/* REPONSIVE  */


@media screen and (max-width: 500px) {
    .box{
        width: 500px;
        /* position: relative; */
    }

    .logo_img{
        width: 50%;
        height: 30%;
    }
    .logo_word{
        font-size: 12px;
        /* position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10%; */

    }

    /* .logo_word1{
        font-size: 7px;
        position: absolute;
        left: 30%;
        top: 12%;
    }

    .profile-box{
        position: absolute;
        left: 30%;
        width: 10px;
    } */
}